<br>
<h1>About</h1>
<br>
<h5>Learn about us! 
<br>
<br>
<p> Writter is the number one informative social media platform. 
Learn more about our application in the Contact section.
Become a part of our extensive community and help us create a better experience for us all!
</p>